In [7]:
import numpy as np # NumPy is a library for the Python programming language., adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.
import pandas as pd # Pandas is also a python library.It can be used to manipulate the tabular data (dataset) very easily
import sklearn # It is a machine learning framework.This frame work that contain lot of inbuild ML algorithms ,we don't create ML algorithm manually ,It is inbuild in Sklearn framework we do only call it from the sklearn framework.

Now we want to load the data that we will use to train our model

Here we are using Boston house pricing dataset which are available in Sklearn ML framework

In [8]:
from sklearn.datasets import load_boston # Here we load the dataset of Boston house price
df=load_boston() # Function call of load_boston function.Now df variable that contain the dataset of Boston house prices.The type of dataset is dictionary.

In [9]:
df.keys() # It print the all the key values of dictionay df.

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [10]:
df.data # This code that show the values of (data) key value in the dictionary.we can give any key value in place of 'data'.

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [11]:
df.feature_names # it print all features or attributes of dataset

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

The following code ,We convert our dataset into a tabular form by using pandas,So that easy to analye the datas

In [13]:
boston=pd.DataFrame(data=df.data,columns=df.feature_names)
boston.head(10) # This code will show 10 rows of datas.Now the data that contain only X value.X(CRIM 	ZN 	INDUS 	CHAS 	NOX 	RM 	AGE 	DIS 	RAD 	TAX 	PTRATIO 	B 	LSTAT) we want to add one column thats name is target that is Y values.Y(target)

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
5  0.02985   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.12   5.21
6  0.08829  12.5   7.87   0.0  0.524  ...  5.0  311.0     15.2  395.60  12.43
7  0.14455  12.5   7.87   0.0  0.524  ...  5.0  311.0     15.2  396.90  19.15
8  0.21124  12.5   7.87   0.0  0.524  ...  5.0  311.0     15.2  386.63  29.93
9  0.17004  12.5   7.87   0.0  0.524  ...  5.0  311.0     15.2  386.71  17.10

[10 rows x 13 columns]

In [14]:
boston['MEDV']=df.target # Adding one column(MEDV) into the dataset
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [15]:
boston.isnull() # Check the dataset contain any null value.It check the all cell value and if any cell have a error then it show True in that cell

      CRIM     ZN  INDUS   CHAS    NOX  ...    TAX  PTRATIO      B  LSTAT   MEDV
0    False  False  False  False  False  ...  False    False  False  False  False
1    False  False  False  False  False  ...  False    False  False  False  False
2    False  False  False  False  False  ...  False    False  False  False  False
3    False  False  False  False  False  ...  False    False  False  False  False
4    False  False  False  False  False  ...  False    False  False  False  False
..     ...    ...    ...    ...    ...  ...    ...      ...    ...    ...    ...
501  False  False  False  False  False  ...  False    False  False  False  False
502  False  False  False  False  False  ...  False    False  False  False  False
503  False  False  False  False  False  ...  False    False  False  False  False
504  False  False  False  False  False  ...  False    False  False  False  False
505  False  False  False  False  False  ...  False    False  False  False  False

[506 rows x 14 columns]

In [ ]:
boston.isnull().sum() # It show number of null values in each column

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [30]:
from sklearn.model_selection import train_test_split # This function can be used to split the data into training data and testing data

X=boston.drop('MEDV',axis=1) # axis=1 means column and axis=0 means row.In this code happen ,remove the column MEDV and then Keep all other columns in X variable
Y=boston['MEDV'] # Now the Y variable contain target value of house

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.15, random_state=4) # This line of code will do split the dataset into training dataset and testing dataset
print(X_train.shape)
print(X_test.shape)
print(Y_train)
print(Y_test)
# x_train,x_test=train_test_split(X,train_size=0.85,random_state=5)
# y_train,y_test=train_test_split(Y,train_size=0.85,random_state=5)
# print(x_train)
# print(y_train)

(430, 13)
(76, 13)
139    17.8
314    23.8
427    10.9
102    18.6
45     19.3
       ...
385     7.2
197    30.3
439    12.8
174    22.6
122    20.5
Name: MEDV, Length: 430, dtype: float64
8      16.5
289    24.8
68     17.4
211    19.3
226    37.6
       ...
6      22.9
63     25.0
239    23.3
123    17.3
64     33.0
Name: MEDV, Length: 76, dtype: float64

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [21]:
lin_model=LinearRegression() # it is a machine learning model
lin_model.fit(X_train,Y_train)# In this line machine learned how to predict the price of house by using X attribute

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
y_train_predict=lin_model.predict(X_train) # Training set prediction

rmse=(np.sqrt(mean_squared_error(Y_train,y_train_predict))) # finding the mean square error
print("The model performance for training set")
print('RMSE is {}'.format(rmse))

y_test_predict=lin_model.predict(X_test) # Testing set prediction
rmse=(np.sqrt(mean_squared_error(Y_test,y_test_predict))) # finding the mean square error
print("The model performance for testing set")
print("RMSE is {}".format(rmse))

The model performance for training set
RMSE is 4.727816990171571
The model performance for testing set
RMSE is 4.430658484720659